@import 'assets/styles/colors';

.movies {

.list-of-movies {
  margin-top: 110px ;
  display: flex;
  max-height: 500px;
}

.trailer {
  position: fixed;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  width: 90%;
  height: 90%;
}

  .hiden {
    display: none;
  }

  .movie-card {
    max-height: 450px;
    padding: 40px;
    margin: 20px;
    list-style: none;
    img {
      height: 100%;
    }
  }
}
