
.movies {

.trailer {
  position: fixed;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  width: 90%;
  height: 90%;
}

  .hiden {
    display: none;
  }

  .movie-card {
    padding: 40px;
    margin: 20px;
    list-style: none;
  }

  .trailer {
   width: 33.3%;
  }

}
