@import '../../assets/styles/colors';

.home-page {
  background-color: #EC265A;
  height: 100vh;
}

.home-page.home-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-page .logo-home-page-anchor {
  margin-top: 30px;
  display: flex; // arranging logo and title in sign papges
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;

  & h1 { // child of the logo-sign-anchor
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
  }
}

.home-page .search-box-home {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
}

.home-page-search-icon {
  font-size: 2rem;
  position: absolute;
  bottom: 33px;
  right: 20px;
  z-index: 10; //if not defined hides behind input
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.home-page .home-page-form-wrapper {
  margin-top: 20px;
  width: 80%; //effects the width of the form and the position
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-page .home-page-form {
  width: 100%; //effects the width of the form and the position as well
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  & label {
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  & input {
    position: relative;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.2rem;
    width: 100%; //handles input line length
    background-color: #EC265A;
    font-family: 'Montserrat', sans-serif;

    &:focus {
      outline: none;
    }
  }
}

.im-into {
  color: white;
  position: absolute;
  top: 8px;
  left: 20px;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

.home-page-title {
  font: {
    size: 1.5rem;
    weight: 300;
    family: 'Montserrat', sans-serif;
  }
  color: white;
  text-align: center;
  //padding-right: 290px; //here for signin / out title location
  margin-top: 20px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
  padding-left: 130px;
  font-size: 0.7rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.scale-home-page-logo {
  font-size: 2rem;
}
