@import '../../assets/styles/colors';

$fixed-bar-layer-10: 10;
//Topbar

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EC265A;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 100px;
  padding: 0;
  //height: 50px;
  & h1 {
    margin-left: 15px;
    font-weight: 400;
  }
}

//icon of the Topbar

.fa.fa-mixcloud.scale-topbar {
  padding-top: 5px;
  font-size: 2rem;
  color: white;
}

.top-bar-left-wrapper { //effects logo and title
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.logo-homepage-anchor {
  margin-left: 10px;
  display: flex;
  text-decoration: none;
  color: white;
}

.nav-bar > ul {
  //margin-top: 20px;
  list-style: none;
  & > li {
    display: inline-block;
  }
}

.nav-links {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  padding: 14px; //effects the bgc size of the link (blue on topbar)
  &:hover {
    background-color: #1E88E5;
  }
}

// right side topbar

.top-bar-search-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: white;
  position: absolute; //for icon position in input
  top: 30px;
  left: 100px;
  & > input {
    font: {
      family: Roboto-Light, sans-serif;
      size: 0.9rem;
    }
    border: none;
    background-color: #EC265A;
    border-bottom: 1px solid white;
    height: 20px;
    width: 250px;
    margin: 0 5px 0 0;
    color: white;
    position: relative; // for icon of search
    padding-left: 20px; //effects the location of the text inside!
  }
  & > button > i {
    font-size: 0.8rem;
    color: white;
    position: absolute;
    top: 3px;
    right: 8px;
    z-index: $fixed-bar-layer-10; //if not defined hides behind input
  }
  & > button {
    font-family: Roboto-Light, sans-serif;
    border: none;
    background-color: #EC265A;
    color: white;
    cursor: pointer;
  }
}

.search-box {
  border: none;
}

.search-box-in-topbar::-webkit-input-placeholder { // catches the placeholder
  color: white;
  background-color: #EC265A;
}
